html {
    scroll-behavior: smooth;
    display:flex;
}

navbar {
    background-color: antiquewhite;

}

h1{
    padding-top:55px;   
    text-align:center;
    line-height: 50px;
    
}

#profilepic {
    width: 150px;
    background-color: yellowgreen;
    padding:15px;
}

.workimages{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding:25px;
    background-color: olivedrab;
}


header {
    padding:20px;   
    background:wheat;
    border: 10px solid mediumturquoise;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 15px;
    width:auto;
    font-size: 45px;
    padding:15px;
    background-color: goldenrod;
   
}

footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
   
    position:center;
    border: 10px solid mediumturquoise;
}